:root {
  --main-bg-color: #4B3621;
  --second-color: #F5F5DC;
  --second-color2: #FFFDD0;
  --spot-color: #D4AF37;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
}


.App {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
}


table, th, td {
  border: 1px solid green;
  border-collapse: collapse;
  padding: 3px;
}

.Root {
  display: flex;
  flex-direction: column;
}